
.github {
    position: absolute;
    top: 50%;
    left: 10%;
    background-image: url('../images/github-icon.svg');
    width: 10vh;
    height: 10vh;
}
.linkedin {
  position: absolute;
  top: 50%;
  right: 10%;
  background-image: url('../images/linkedin-icon.svg');
  width: 10vh;
  height: 10vh;
}
.info {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  color: #010203;
}
.info h3 {
  font-size: 2.5vh;
  text-align: center;
}
.welcomeText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  color: #010203;
}
.welcomeText h1 {
  text-align: center;
  font-size: 5vw;
}
.welcomeText h3 {
  text-align: center;
  font-size: 2vw;
}

@media only screen and (max-width: 1080px) {
  .github {
    left: 5%;
    top: 20%;
  }
  .linkedin {
    right: 5%;
    top: 20%;
  }
  .welcomeText h1 {
    font-size: 5vh;
  }
  .welcomeText h3 {
    font-size: 2vh;
  }
  .info h3 {
    font-size: 2vh;
  }
}