:root {
  --text-color: #010203;
  --title-font-size: 2rem;
  --text-font-size: 1.5rem;
  --margin: 1rem;
  --padding: 1rem;
}

.Parent {
  display: flex;
  flex-direction: row;
}

.image {
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  padding: var(--padding);
  margin: var(--margin);
  background-image: url('../images/image.svg');
  flex-grow: 1;
  align-self: center;
}
@media screen and (max-width: 1080px) {
  .image {
    width: 20vw;
    height: 20vw;
  }
}

.list1 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  padding: var(--padding);
  margin: var(--margin);
  list-style: none;
  max-width: 50%;
}

.list2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  padding: var(--padding);
  margin: var(--margin);
  list-style: none;
  max-width: 50%;
}

.listItemWithTitle h2 {
  color: var(--text-color);
  font-size: var(--title-font-size);
  font-weight: bold;
}

.listItemWithTitle p {
  color: var(--text-color);
  font-size: var(--text-font-size);
  margin: calc(var(--margin) * 0.5);
  padding: var(--padding);
}

.listItem  p {
  color: var(--text-color);
  font-size: var(--text-font-size);
  margin: var(--margin);
  padding: var(--padding);
}

.course h2 {
  color: var(--text-color);
  font-size: var(--title-font-size);
  font-weight: bold;
}

.course p {
  color: var(--text-color);
  font-size: var(--text-font-size);
  margin: calc(var(--margin) * 0.5);
  padding: var(--padding);
}
